services:
  - type: web
    name: cv-ats
    env: node
    plan: free
    buildCommand: 'npm install && npm run build'
    startCommand: 'npm start'
    envVars:
      - key: NODE_ENV
        value: production